.container{
    background-color: #F8F8F8;
    width: 900px;
    height: 520px;
    margin-left: 230px;
    margin-top: -15px;
    padding: 10px;
}
.head1{
    font-size: 44px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head2{
    font-size: 27px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head3{
    font-size: 26px;
}
.head4{
    font-family: cursive;
    text-align: center;
}
.example-form {
    margin-top: -20px;
    min-width: 260px;
    max-width: 50px;
    width: 100%;
}
.example-full-width {
    width: 100%;
}
.btn{
    margin-top: -20px;
    margin-left: 14px;
}
  